@import "public/shake";


body {
  overflow: auto; 
  overflow-y: hidden;
  -ms-overflow-y: hidden;
}
.public {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 198px;
  width: 380px;

  .form-horizontal {
    button {
      float: right;
      margin-right: 33px;
    }
  }
}