<div ng-repeat="stop in zoo_stops">
</div>
<hr>
<map center="-34.397, 150.644"
  draggable="false"
  disable-double-click-zoom="true"
  disable-default-u-i="true"
  max-zoom="13"
  min-zoom="13">
  <marker position="-34.397, 150.644" ></marker>
</map>
