<div class="hide-pref" ng-hide="showPrefBar" ng-mouseover="showPrefBar = true"></div>
<div ng-mouseleave="showPrefBar = false" class="pref-bar" collapse="showPrefBar">
  <div class="pref-item">
    <button type="button" class="btn btn-primary" ng-model="readingPref.light"
    btn-checkbox>
    {{ readingPref.light ? "Light ON" : "Light OFF" }}
    </button>
  </div>
  <div class="pref-item slider-item">
    <div class="slider-span">Smaller</div>
    <slider class="slider-span" ng-model="readingPref.fontSize" min="10" max="16"></slider>
    <div class="slider-span">larger</div>
  </div>
</div>

<div class="page-header">
  <h2>{{chapter.name}}
    <div id="chapter-link"><div ng-click="locateTo('menu')">Menu</div> | <div ng-click="locateTo('bookList')">List</div></div>
  </h2>
</div>
<pre>{{chapter.content}}</pre>
<nav>
  <ul class="pager">
    <li class="previous">
      <a ng-click="jumpTo(chapter.id-1)"><span aria-hidden="true">&larr;</span></a>
    </li>
    <li class="next">
      <a ng-click="jumpTo(chapter.id+1)"><span aria-hidden="true">&rarr;</span></a>
    </li>
  </ul>
</nav>