.book-cover-dropzone {
  border: 2px dashed #808080;
  height: 210px;
  width: 170px;
  float: right;
  margin-right: 71px;
}
.book-list-table {
  width: auto;

  .action-buttons {
    padding: 0px;
    vertical-align: middle;
  }

  col {
    width: 200px;
  }
  .action-col {
    width: 155px;
  }
}

.chapters-list {
  li {
    border: 0px;
  }
}
.chapters-container {
  height: 800px;
}

.pref-bar {
  margin-top: 0px;
  background-color: orange;
  height: 45px!important;

  .pref-item {
    display: inline;
    float: left;
    padding: 5px 10px;

    .slider {
      width: 100px;
      .round {
        opacity: 0.9;
      }
    }
    .slider-span {
      display: inline;
      color: #ffffff;
      margin:0px 5px;
    }
  }
  .slider-item {
    margin-top: 8px;
  }
}
.hide-pref {
  height: 10px;
  opacity: 0.4;
  background-color: orange;
}

.page-header {
  #chapter-link {
    float: right;
    font-size: 15px;
    color: rgb(218, 112, 214);
    margin-top: 26px;
    margin-right: 21px;

    div {
      display: inline;
      cursor: pointer;
    }
  }
}

pre {
border: 0px;
  font-family: Arial, Microsoft YaHei, 宋体;
  line-height: 1.8;
  font-size: 12pt;
  background-color: white;
}

.pager {
  font-size: 20px;
}


.content {
  display: inline;
  margin-left: 10px;
}

.fa-2x {
  margin-left: 8px;
}

.edit-container {
  input {
    width: 200px;
    text-align: center;
    margin-left: 101px;
    border: 0px;
    border-bottom: 1px solid;
    margin-bottom: 27px;
  }
}

.drag-over {
	border: 2px dashed #808080;
}

.new-book-zone {
	width: 25%;
}

table tr img {
  width: 30px;
}