.book-cover-dropzone {
  border: 2px dashed #808080;
  height: 210px;
  width: 170px;
  float: right;
  margin-right: 71px;
}
.book-list-table {
  .action-buttons {
    padding: 0px;
    vertical-align: middle;
  }
  col {
    width: 200px;
  }
  .action-col {
    width: 155px;
  }
}
.table-content {
  height: 40px !important;
}
.chapter-content {
  min-height: 800px;
}

pre {
  min-height: 850px;
}

.chapters-list {
  li {
    border: 0px;
  }
}
.chapters-container {
  height: 1000px;
}

.fadeIn {
  -webkit-animation-duration: 2s;
}

.affix {
  top: 50px;
}
.navbar-left {
  padding: 0 !important;
}
.book-searcher {
  margin-left: 0px;
  margin-right: 0px;
}

.tools {
  left: 50%;
  margin-left: -534px;
  position: fixed;

  hr {
    display: block;
    margin-bottom: 0px;
  }

  ul {
    margin-left: -170px !important;
    list-style-type: none;
    margin: 0;
    padding: 0;

    width: 210px;
    height: 160px;
    background-color: white;
    li {
      margin-top: 5px;
      padding-top: 5px;
      i {margin-bottom: 5px;}
      .item { 
        float: left;
        display: inline;
        margin-left: 10px;
      }
      span {
        margin-left: 13px;
        font-weight: bold;
        font-size: 18px;
      }
    }
  }

  .slider {
    width: 180px;
    margin-left: 15px;
  }

  .theme-bc {
    width: 27px;
    height: 30px;
    border: 4px solid;
  }

  #theme-bc-day {
    border-color: $book-bg-default;
    background-color: $book-page-default;
    color: $book-font-color-default;
  }
  #theme-bc-night {
    border-color: $book-bg-night;
    background-color: $book-page-night;
    color: $book-font-color-night;
  }
}

.page-header {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 30px;
  border-color: turquoise;

  small {
    margin-left: 28px;
  }

  h2 {
    margin-top: 0px;
  }
  #chapter-link {
    float: right;
    font-size: 15px;
    color: rgb(218, 112, 214);
    margin-top: 26px;
    margin-right: 21px;

    div {
      display: inline;
      cursor: pointer;
    }
  }
}

pre {
  border: 0px;
  font-family: Microsoft YaHei, 宋体, Arial;
  font-size: 14px;
  line-height: 2em;
  text-indent: -23px;
  padding: 20px 35px;
}

.pager {
  font-size: 20px;
}


.content {
  display: inline;
  margin-left: 10px;
}

.fa-2x {
  margin-left: 8px;
}

.edit-container {
  input {
    width: 200px;
    text-align: center;
    margin-left: 101px;
    border: 0px;
    border-bottom: 1px solid;
    margin-bottom: 27px;
  }
}

.drag-over {
	border: 2px dashed #808080;
}

.new-book-zone {
	width: 25%;
}

table tr img {
  width: 30px;
}
.book-list {
  min-height: 605px;
}