// Reading themes

// ----------------------------------------------------

// default
$book-bg-default:             #f5e1ba;
$book-page-default:           #fff2d9;
$book-font-color-default:     #303030;


// night
$book-bg-night:               #1f1c1d;
$book-page-night:             #353434;
$book-font-color-night:       #9a9a9a;



