<div class="main-content">
  <div class="row top-row edit-container">
    <div class="col-md-4">
      <img class="book-cover-dropzone" ng-src="{{book.cover_img_url}}"/>
    </div>
    <div class="col-md-8">
      <a href save-button class="btn btn-primary pull-right" ng-click="save()">Save</a>
      <form class="form-horizontal" role="form">
        <h2>{{book.name}}</h2>
        <hr>
        <div class="content-group">
          <label>Author: </label>
          <div class="content">{{book.author}}</div>
        </div>
        <div class="content-group">
          <label>Word Count: </label>
          <div class="content">{{book.word_count | number}}</div>
        </div>
        <div class="content-group">
          <label>Category: </label>
          <div class="content">{{book.category | capitalize}}</div>
        </div>
        <div class="content-group">
          <label>Chapters: </label>
          <div class="content">{{book.chapters_size}}</div>
        </div>
      </form>
    </div>
  </div>
  <hr>
  <div class="new-book-zone">
    <ng-upload ng-model="book"
               attribute="source_url"
               accept=".txt,.pdf"
               tags="book"
               button="Select a Book">
    </ng-upload>
  </div>

</div>
