//= require bootstrap

@import "base";

.body-container {
  @include body-width;
  min-height:90%;
  position:relative;
}

.footer-container {
  width: 100%;
  position: absolute;
  bottom: 0;

  #footer {
    @include body-width;
  }
}