//= require bootstrap

@import "base";
@import "components/book";

.body-container {
  @include body-width;
  min-height:90%;
  position:relative;
}

.footer-container {
  width: 100%;
  position: absolute;
  bottom: 0;

  #footer {
    @include body-width;
  }
}

.top-row {
	margin-top: 70px;
}
.my-icon {
  height: 60px;
  width: 60px;
}