<!DOCTYPE html>
<html ng-app="publicApp">
<head>
  <title>PerpheriorHome</title>
  <%= stylesheet_link_tag    'public', media: 'all'%>
  <%= javascript_include_tag 'public' %>
  <%= csrf_meta_tags %>
  <base href="/">
</head>
<body>
    <%= yield %>
</body>
</html>
